* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0b021a;
}

header {
  padding: 15px 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #1b0036, #12002a);
  padding: 18px 92px;
  border-radius: 10px;
}

/* Logo */
.logo h1 {
  color: #f5edf5;
  font-size: 26px;
  font-weight: bold;
}

.white{
    color: #ff00ff;
}

/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff00ff;
}

/* Button */
.btn {
  background: linear-gradient(90deg, #ff00ff, #ff7b00);
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}
