* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0b021a;
}

header {
  padding: 15px 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #1b0036, #12002a);
  padding: 18px 92px;
  border-radius: 10px;
}

/* Logo */
.logo h1 {
  color: #f5edf5;
  font-size: 26px;
  font-weight: bold;
}

.white{
    color: #ff00ff;
}

/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff00ff;
}

/* Button */
.btn {
  background: linear-gradient(90deg, #ff00ff, #ff7b00);
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: white;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}
.hero {
  min-height: 100vh;
  background: url("image/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-container {
  max-width: 900px;
  padding: 40px;
}

/* Circle */
.hero-circle {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto 30px;
}

.hero-circle img {
  width: 100%;
}

/* Microphone */
.microphone {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.microphone img {
  width: 80px;
}

/* NEW badge */
.badge {
  position: absolute;
  top: 20px;
  right: 0px;
  background: #00ff9c;
  color: black;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: bold;
}

/* Title */
.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hero-title span {
  color: #ffffff;
}

/* Subtitle */
.hero-subtitle {
  color: #cfcfe6;
  font-size: 16px;
  margin-bottom: 30px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}



/* Spotify button */
.spotify {
  background: linear-gradient(90deg, #ff00ff, #ff9900);
  color: white;
}

/* Subscribe button */
.subscribe {
  background: transparent;
  border: 1px solid #00ff9c;
  color: #00ff9c;
}

/* Button icons */
.btn img {
  width: 18px;
}
/*main section1*/
 .about-section {
        text-align: center;
        padding: 80px 20px;
        max-width: 900px;
        margin: auto;
    }

    .about-section h2 {
        color: #f5edf5;
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .about-section p {
        font-size: 16px;
        line-height: 1.6;
        color: #ccc;
        margin-bottom: 50px;
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }

    .stat {
        text-align: center;
    }
    .stat h3 i {
    font-size: 22px;  
    line-height: 1;
    }


    .stat h3  {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 32px;
    color: #00ff7f;
    margin: 0;
    }

    .stat p {
        font-size: 14px;
        color: #ccc;
        margin-top: 5px;
    }

    /* Responsive */
    @media (max-width: 600px) {
        .stats {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        .stat h3 {
            font-size: 28px;
        }
    }