* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0b021a;
}

header {
  padding: 15px 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #1b0036, #12002a);
  padding: 18px 92px;
  border-radius: 10px;
}

/* Logo */
.logo h1 {
  color: #f5edf5;
  font-size: 26px;
  font-weight: bold;
}

.white{
    color: #ff00ff;
}

/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff00ff;
}

/* Button */
.btn {
  background: linear-gradient(90deg, #ff00ff, #ff7b00);
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: white;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}
.hero {
  min-height: 100vh;
  background: url("image/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-container {
  max-width: 900px;
  padding: 40px;
}

/* Circle */
.hero-circle {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto 30px;
}

.hero-circle img {
  width: 100%;
}

/* Microphone */
.microphone {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.microphone img {
  width: 80px;
}

/* NEW badge */
.badge {
  position: absolute;
  top: 20px;
  right: 0px;
  background: #00ff9c;
  color: black;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: bold;
}

/* Title */
.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hero-title span {
  color: #ffffff;
}

/* Subtitle */
.hero-subtitle {
  color: #cfcfe6;
  font-size: 16px;
  margin-bottom: 30px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}



/* Spotify button */
.spotify {
  background: linear-gradient(90deg, #ff00ff, #ff9900);
  color: white;
}

/* Subscribe button */
.subscribe {
  background: transparent;
  border: 1px solid #00ff9c;
  color: #00ff9c;
}

/* Button icons */
.btn img {
  width: 18px;
}
/*main section1*/
 .about-section {
        text-align: center;
        padding: 80px 20px;
        max-width: 900px;
        margin: auto;
    }

    .about-section h2 {
        color: #f5edf5;
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .about-section p {
        font-size: 16px;
        line-height: 1.6;
        color: #ccc;
        margin-bottom: 50px;
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }

    .stat {
        text-align: center;
    }
    .stat h3 i {
    font-size: 22px;  
    line-height: 1;
    }


    .stat h3  {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 32px;
    color: #00ff7f;
    margin: 0;
    }

    .stat p {
        font-size: 14px;
        color: #ccc;
        margin-top: 5px;
    }

    /*section-2*/
    
    .section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
  color: #fff;
}

.section h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: linear-gradient(145deg, #2b1454, #1b0b33);
  border-radius: 22px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
.card i{
  font-size: 34px;
  background: linear-gradient(45deg, #ff4ecd, #ffcf4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.card img i{
  font-size: 34px;
  background: linear-gradient(45deg, #ff4ecd, #ffcf4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.card h3 {
  margin-top: 20px;
  font-size: 20px;
}

.card p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #cfc7e3;
}

/* Special sizes */
.card.tall {
  grid-row: span 2;
}

.card.wide {
  grid-column: span 2;
}
/*section-3*/
.main-div{
    max-width:1200px;
    margin:auto;
    text-align:center;
}

.main-div h1{
    color: #f3f1f8;
    font-size:42px;
    margin-bottom:60px;
}

/* Grid */
.youtub-vgrid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

/* Card */
.video-card{
    background:linear-gradient(145deg,#2b1454,#1b0b33);
    border-radius:22px;
    overflow:hidden;
    box-shadow:0 25px 50px rgba(0,0,0,.45);
   
}

.video-card:hover{
    box-shadow:0 35px 70px rgba(255,78,205,.25);
}

/* Video */
.video-card iframe{
    width:100%;
    height:220px;
    border:none;
}

/* Info */
.video-info{
    padding:20px;
    text-align:left;
}

.video-info h3{
    font-size:18px;
    margin:0 0 10px;
}

.video-info p{
    font-size:14px;
    color:#cfc7e3;
    line-height:1.5;
    margin-bottom:12px;
}

/* Duration */
.duration{
    display:flex;
    align-items:center;
    gap:6px;
    font-size:14px;
    color:#00ff7f;
}

.duration i{
    font-size:14px;
}

/* Responsive */
@media(max-width:900px){
    .youtub-vgrid{
        grid-template-columns:1fr;
    }
}

    /* Responsive */
    @media (max-width: 600px) {
        .stats {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        .stat h3 {
            font-size: 28px;
        }
    }

    @media (max-width: 900px) {
  .why-grid {
    grid-template-columns: 1fr;
  }

  .card.tall,
  .card.wide {
    grid-column: span 1;
    grid-row: span 1;
  }
}


/* Responsive */
@media (max-width: 992px) {
    .youtub-vgrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .main-div h1 {
        font-size: 32px;
    }

    .youtub-vgrid {
        grid-template-columns: 1fr;
    }

    .youtub-vgrid iframe {
        height: 220px;
    }
}
