* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0b021a;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #1b0036, #12002a);
  padding: 18px 92px;
  border-radius: 10px;

}


.logo h1 {
  color: #f5edf5;
  font-size: 26px;
  font-weight: bold;
  margin-left: 50px;
  
}

.white{
    color: #ff00ff;
}


.nav-links {
align-items: center;
list-style: none;
display: flex;
margin-right: 150px;
gap: 30px;

}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff00ff;
}

/* Button */
.btn {
  background: linear-gradient(90deg, #ff00ff, #ff7b00);
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: white;
  margin-left: 250px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btnt {
  background: linear-gradient(90deg, #ff00ff, #ff7b00);
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: white;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}
.dots {
    font-size: 26px;
    cursor: pointer;
    display: none; 
}

.btn:hover {
  transform: scale(1.05);
}
.hero {
  min-height: 100vh;
  background: url("image/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-container {
  max-width: 900px;
  padding: 40px;
}


.hero-circle {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto 30px;
}

.hero-circle img {
  width: 100%;
}


.microphone {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.microphone img {
  width: 80px;
}


.badge {
  position: absolute;
  top: 20px;
  right: 0px;
  background: #00ff9c;
  color: black;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: bold;
}


.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hero-title span {
  color: #ffffff;
}


.hero-subtitle {
  color: #cfcfe6;
  font-size: 16px;
  margin-bottom: 30px;
}


.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.spotify {
  background: linear-gradient(90deg, #ff00ff, #ff9900);
  color: white;
}

.subscribe {
  background: transparent;
  border: 1px solid #00ff9c;
  color: #00ff9c;
}


.btn img {
  width: 18px;
}
/*main section1*/
 .about-section {
        text-align: center;
        padding: 80px 20px;
        max-width: 900px;
        margin: auto;
    }

    .about-section h2 {
        color: #f5edf5;
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .about-section p {
        font-size: 16px;
        line-height: 1.6;
        color: #ccc;
        margin-bottom: 50px;
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }

    .stat {
        text-align: center;
    }
    .stat h3 i {
    font-size: 22px;  
    line-height: 1;
    }


    .stat h3  {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 32px;
    color: #00ff7f;
    margin: 0;
    }

    .stat p {
        font-size: 14px;
        color: #ccc;
        margin-top: 5px;
    }

    /*section-2*/
    
.section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
  color: #fff;
}

.section h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: linear-gradient(145deg, #2b1454, #1b0b33);
  border-radius: 22px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
.card i{
  font-size: 34px;
  background: linear-gradient(45deg, #ff4ecd, #ffcf4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.card img i{
  font-size: 34px;
  background: linear-gradient(45deg, #ff4ecd, #ffcf4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.card h3 {
  margin-top: 20px;
  font-size: 20px;
}

.card p {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #cfc7e3;
}


.card.tall {
  grid-row: span 2;
}

.card.wide {
  grid-column: span 2;
}
/*section-3*/
.main-div{
    max-width:1200px;
    margin:auto;
    text-align:center;
}

.main-div h1{
    color: #f3f1f8;
    font-size:42px;
    margin-bottom:60px;
}


.youtub-vgrid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}


.video-card{
    background:linear-gradient(145deg,#2b1454,#1b0b33);
    border-radius:22px;
    overflow:hidden;
    box-shadow:0 25px 50px rgba(0,0,0,.45);
   
}

.video-card:hover{
    box-shadow:0 35px 70px rgba(255,78,205,.25);
}


.video-card iframe{
    width:100%;
    height:220px;
    border:none;
}


.video-info{
    padding:20px;
    text-align:left;
}

.video-info h3{
    color: #f3fbf7;
    font-size:18px;
    margin:0 0 10px;
}

.video-info p{
    font-size:14px;
    color:#cfc7e3;
    line-height:1.5;
    margin-bottom:12px;
}


.duration{
    display:flex;
    align-items:center;
    gap:6px;
    font-size:14px;
    color:#00ff7f;
}

.duration i{
    font-size:14px;
}
/* Section-3 */
.host-section{
    padding:80px 20px;
}


.host-section h2{
    color: #cfcfe6;
    text-align:center;
    font-size:42px;
    margin-bottom:50px;
}


.host-card{
    max-width:1100px;
    margin:auto;
    background:linear-gradient(145deg,#2b1454,#1b0b33);
    border-radius:30px;
    padding:40px;
    display:flex;
    align-items:center;
    gap:40px;
    box-shadow:0 30px 60px rgba(0,0,0,.45);
}


.host-img{
    flex-shrink:0;
    width:160px;
    height:160px;
    border-radius:50%;
    overflow:hidden;
    border:none
}

.host-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.host-content h3{
    color: #fbfbfd;
    font-size:26px;
    margin:0 0 10px;
}

.host-content p{
    font-size:14px;
    color:#cfc7e3;
    line-height:1.7;
    max-width:700px;
}


.socials{
    margin-top:18px;
    display:flex;
    gap:14px;
}

.socials a{
    width:36px;
    height:36px;
    border-radius:50%;
    background:linear-gradient(45deg,#212021,#423e36);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
  
}

.socials a:hover{
   color: #a7bfb3;
}


/*footer*/
.techwave {
    height: 420px;
    background-image: url(image/footer-bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.content {
    text-align: center;
    
}


.content h1 {
    font-size:80px;
    font-weight: 700;
    color: #f2f0f5;
    margin-bottom: 30px;
    
}

.content h1 span {
    background: linear-gradient(90deg, #ff00cc, #7a00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.socia {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    margin-bottom: 25px;
   
}

.socia a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 15px;
    
}
 
.socia a:hover{
    text-align: center;
   background-color: #7a00ff;
   border-radius: 5px;
   height: 40px;
   width: 150px;
}

.copyright {
    font-size: 14px;
    color: #b9b9b9;
}



/* Responsive */
    @media (max-width: 576px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 20px;
        background: #2b0c55;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        border-radius: 6px;
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .logo h1{
       margin-left: 10px;
    }

    .dots {
        display: block;
    }
    .hero {
    background-size: cover; 
  }

}
    .host-card{
        flex-direction:column;
        text-align:center;
    }

    .host-content p{
        max-width:100%;
    }

    .socials{
        justify-content:center;
    }
    .grid {
     display: grid;
    grid-template-columns: repeat(1, 1fr);
  
}
.stats {
            grid-template-columns: repeat(2, 1fr);
        
        }
.stat h3 
{
font-size: 28px;
        }


.main-div h1 {
        font-size: 32px;
    }

   
.youtub-vgrid iframe {
        height: 220px;
        width: 95%;
    }
.youtub-vgrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .techwave {
    height: 350px;
    }
.socia {
   
    grid-template-columns: repeat(2,1fr);
    

    }
    .content h1 {
      font-size: 40px;        
        margin: 10px;
    
    
}

}

    





    
